menu "HHEE options"

config HHEE
	bool "HHEE support"
	default n
	help
	  Say yes here to support the HHEE

config HHEE_DEBUG
	bool "HKIP HHEE test support"
	depends on !UBSAN && !KCOV && !KASAN
	depends on HHEE
	depends on HISI_DEBUG_FS
	default n
	help
	  Say yes here to support the HHEE debug

config UEFI_HHEE
	bool "HHEE support for UEFI boot"
	depends on HHEE
	default n
	help
	  Say yes here to support HHEE when kernel boot form UEFI

config HHEE_USING_IPI
	bool "HKIP HHEE Using IPI interrupt"
	depends on HHEE
	default n
	help
	  Say yes here to support using IPI not GIC

endmenu
